@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient {
    display: inline-block;
    height: 250px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 5px 10px #0002;
}

@layer base {
    html {
        font-family: 'Crimson Text', serif;
        background: linear-gradient(33deg, #1b1c1c, #1b2c2c);;
        color: #decba7
    }
    input, textarea {
        background-color: #decba7;
        color: #1b1c1c;
    }
    input.border, textarea.border {
        border: 2px solid #decba7;
    }
    input:focus, textarea:focus, button:focus {
        outline: 1px #d78f05 solid;
    }
    input.border:focus, textarea.border:focus, button.border:focus {
        outline: 0;
        border: 2px solid #d78f05;
    }
    button.border {
        border: 2px solid #decba7;
    }
    button.border:hover {
        background-color: #1b1c1c;
        border: 2px solid #d78f05;
    }
    button:focus {
        outline: 1px #d78f05 solid;
    }
}
